.ipynb_checkpoints
.DS_Store

document-categorization/protocollo_2017_vectorized.csv
document-categorization/*.json
document-categorization/protocollo-vectorization-Copy1.ipynb
document-categorization/protocollo_2017_vectorized_chars.csv
document-categorization/protocollo_2017_vectorized_no_stopwords.csv
document-categorization/data-wrangling-Copy1.ipynb
document-categorization/regione-toscana/atti_dirigenti/dirigenti.json
document-categorization/regione-toscana/atti_dirigenti/dirigenti_processed.json
document-categorization/regione-toscana/atti_dirigenti/proponenti_processed.json
document-categorization/regione-toscana/atti_dirigenti/strutture.json
document-categorization/regione-toscana/atti_dirigenti/strutture_processed.json
document-categorization/regione-toscana/*.json
dataset-dirigenti.pkl

*.gz
*.pkl
tuscany-acts-analysis/3-models/logs/*
